PORT=3000
DATABASE_URL=postgres://fse01_user:fse01_password@localhost:5432/fse01_db
TEST_DATABASE_URL=postgres://fse01_test_user:fse01_test_password@localhost:5433/fse01_test_db
CANDIDATE_ID=09
MQTT_URL=mqtt://152.42.238.142:1883
